[submodule "OCMobile/EFIDroid"]
	path = OCMobile/EFIDroid
	url = https://github.com/efidroid/build.git
[submodule "System/Kernel"]
	path = System/Kernel
	url = https://github.com/apple-oss-distributions/xnu.git
[submodule "System/launchd"]
	path = System/launchd
	url = https://github.com/apple-opensource/launchd.git
