<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleFormatVersion</key>
	<string>1</string>
	<key>Executables</key>
	<array>
		<string>Contents/MacOS/YourExecutable</string>
	</array>
	<key>Libraries</key>
	<array>
		<string>Contents/Libraries/libYourLibrary.dylib</string>
	</array>
</dict>
</plist>
